/* 공통  */
/* div   {	border:1px solid red;}*/
ul,li { padding:0; margin:0;}
body  {	margin:20px;background-color:#000;font-family: Arial, sans-serif, 'Dotum';font-size:14px;}
#wrap {  width:100%; }
.poster	{	margin:0 auto;max-width: 750px;
			height:1000px; 
			border:#000 solid 10px;
			position:relative;
			}
.back1	{	background-image: url(image/333.jpg);
			background-size: 750px;
			background-repeat: repeat-y;
			background-position: top center;
			}
.menu	{	font-family: 'Oswald', sans-serif;
						font-size:1.6em; 
						font-weight:bold; 
						max-width:100%;margin-top:20px;
						text-align: center; 
						padding-bottom:10px;				 
						z-index:999;}
@media screen and (max-width:700px){
						.menu li	{display:block;list-style:none;}
}
@media screen and (min-width: 701px){						
						.menu li	{display:inline;list-style:none;padding:0px 2em;}
}

.menu li a	{color:#fff;}
.menu2 li a	{color:#000;}
.menu li a:hover {color:#0acbec;}
.menu2 li a:hover {color:#0acbec;}

.skyblue	{color:#0acbec;}
.yellow 	{color:#fbcd2f;}
a			{text-decoration:none;}

/* 퀵메뉴  */
@media screen and (max-width:830px){					
			.linkmenu		{display: none;	}
}
.linkmenu {width:70px;position: absolute;top:-10px;left:760px; text-align: center;background-color: #000;padding:0.3em;}
.linkmenu li {display:block;list-style:none;padding:0.2em;} 
.linkmenu li a{font-weight: bold;color:#fff;font-size:0.8em;}

/* 포스터1  */
@media screen and (max-width:700px){					
			.title	{font-size:1.2em;top:170px;max-width:300px;}
}
@media screen and (min-width: 701px){				
			.title	{font-size:1.65em;top:310px;max-width:100%;}
}
.title		{font-weight:bold;
			color:#FFF;
			position:relative;
			text-align:center;
			margin:0 auto;}

h1			{color:#fbcd2f; 
			font-family: 'Oswald', sans-serif;
			font-size:4em; 
			display:block; 
			margin:0 auto; 
			line-height:100%; 
			text-shadow:2px 2px 1px #000; 
			letter-spacing:-1px;}

@media screen and (max-width:735px){					
			.ment1		{display: none;	}
}
@media screen and (min-width: 736px){				
			.ment1		{font-size: 25px; 
			font-weight:bold; 
			color:#fff;
			position:absolute;
			top: 180px;
			right:30px;}
}	

.actor 	 	{font-family: 'Open Sans', sans-serif;font-weight:600; 			
			font-size: 15px;
			color:#FFF; 
			position:absolute;
			top:550px;
			text-align:center;
			width: 100%;
			}

.actor li 	{display:inline-block;list-style:none;padding:0 10px;text-align:center;width:60px; }
.actor li a	 {text-decoration:none;color:#fff;}






/* 포스터2  */
.back2	{	background-image: url(image/111.jpg);
			background-size: 750px;
			background-repeat: no-repeat;
			background-position: top center;
			}
  
@media screen and (max-width:700px){					
			.ment2	{font-size: 1.2em;top:250px;}
}
@media screen and (min-width: 701px){							
			.ment2	{font-size: 2em;top:200px;width:420px;}
}
.ment2		{font-weight:bold;color:#fff;position:absolute;padding:20px;}

@media screen and (max-width:700px){					
			.contents { max-width:90%;margin-top:140px;font-size:0.5em}
}
@media screen and (min-width: 701px){								
			.contents {width:75%;margin-top:210px;font-size:1em}
}
.contents {	color:#FFF;padding:20px;line-height:140%;}

@media screen and (max-width:700px){					
			.contents2   { width: 100%;}
}
@media screen and (min-width: 701px){								
			.contents2   { max-width: 100%;}
}
.contents2   { padding:10px;position:absolute;text-align: center;margin-bottom:0px;bottom: 20px;}

@media screen and (max-width:700px){					
			.contents2 li {display: block;
							max-width: 100%; }
}
@media screen and (min-width: 701px){								
			.contents2 li {float: left;
							width: 31.2%;}
}
.contents2 li {list-style-type: none;
				margin: 1em 1%;
				padding: 0;}

@media screen and (max-width:700px){					
			.contents2 li img {
        box-sizing: border-box;
        width: 150px;}

}
@media screen and (min-width: 701px){								
			.contents2 li img {
        box-sizing: border-box;
        width: 100%;}

}



/* 포스터3  */
.back3	{	background-image: url(image/IMG_5450_3.jpg);
			background-size: 750px;
			background-repeat: repeat-y;
			background-position: top center;
			}
@media screen and (max-width:700px){
            .actor_list {margin:30px 20px 0;font-size:0.5em;}
}
@media screen and (min-width: 701px){
			.actor_list {margin:50px 20px 0;font-size:0.9em;}
}
.actor_list {max-width:100%;box-sizing: border-box;background-color: rgba(0,0,0,0.8);  background-color:#000; filter:alpha(opacity=80);  
			padding:5px 0px;}
.actor_list li{	list-style:none; color:#fff; vertical-align:top; clear:both; padding:0 10px;vertical-align:top; }
.actor_list img { float:left; padding-right:5px; width:60px;margin:5px;filter:alpha(opacity=100);}


/* 포스터4  */
.back4	{	background-image: url(image/IMG_5450_3.jpg);
			background-size: 750px;
			background-repeat: repeat-y;
			background-position: top center;
			}

.photo  { max-width: 85%;margin:20px auto 0;}
.photo li {list-style-type: none; 
        float: left;
        margin: 1em 1%;
        padding: 0;
        width: 23%;
        }
.photo li h2 {
        margin: 0.1em 0.5em;
        padding: 0;
        font-size: 0.8em;
        text-align: center;   }
.photo li img {
        box-sizing: border-box;
        width: 100%;
    }


/* 이벤트 */
.event_box { text-align: center;width:90%;box-sizing: border-box;						
			margin:50px auto; color: #fff;font-size:1em;	 
			background-color: rgba(0,0,0,0.8);background-color:#000;filter:alpha(opacity=80);  
			padding:50px}
.people {display: block;}
#guest {font-size:5em;color:#fbcd2f;}
.event_bt {background-color:#fbcd2f;color: #000;border:0px;padding: 20px;font-weight:bold;} 
